 exprot const categories: string[] = [
  "electronics",
  "jewelery",
  "men's clothing",
  "women's clothing",
];

const filterGrid = {
  justifyContent: "space-between",
  width: "100%",
  marginBottom: 2,
  alignItems: "center",
};

const productCardGrid = {
  alignItems: "center",
  justifyContent: "space-between",
  // margin: "auto",
  my: 3,
};